<body>
	<center>
		<div><br>
			<table class="table" style="width:100%;">
				<caption>Item Information &nbsp;&nbsp;&nbsp; <b style="color:purple;"> {{itemMessage}}</b></caption>
				<tr>
					<td>Item Name :</td>
					<td><input type="text" ng-model="item.name"></td>	
				</tr>
                <tr>
					<td>Brand Name :</td>
					<td><input type="text" ng-model="item.brand"></td>	
				</tr>
                <tr>
					<td>Item Serial No. :</td>
					<td><input type="text" ng-model="item.itemSerial"></td>	
				</tr>
                <tr>
					<td>Item Category :</td>
					<td><input type="text" ng-model="item.category"></td>	
				</tr>
                <tr>
					<td>Item Cost :</td>
					<td><input type="number" ng-model="item.cost"></td>	
				</tr>
                <tr>
					<td>Item Additional Cost :</td>
					<td><input type="number" ng-model="item.costAdditionalcost"></td>	
				</tr>
                <tr>
					<td>Item Status :</td>
                    <td>
                        <select ng-model="item.status"> 
                            <option value="In-Stock">In-Stock</option>
                            <option value="Out Of Stock">Out Of Stock</option>
                        </select>  
                    </td>	
				</tr>
                <tr>
					<td>Expected Selling Price :</td>
					<td><input type="number" ng-model="item.expectedSellingPrice"></td>	
				</tr>
                <tr>
					<td>Expected Selling Date :</td>
					<td><input type="date" ng-model="item.expectedSellingDate"><b style="color:seagreen;font-size:14px;margin-left:50px;"> Please Enter date as Like ' MM/DD/YYYY '</b></td>	
				</tr>
                <tr>
					<td>Remark :</td>
					<td><input type="text" ng-model="item.remark"></td>	
				</tr>
                <tr>
					<td>Item Description File :</td>
					<td><input type="file" file-model="myFile"/></td>	
				</tr>
				<tr>
					<td colspan="2"><br><input type="button" value="Save Item" ng-click="saveItem(item)"class="btn btn-primary center-block"/></td>
				</tr>
			</table>
		</div>
	<center><br><br><br>
</div>	
