<div>
	<center>
		<div style="overflow:auto;"><br>
			<table class="table" style="width:100%;">
				<caption>Items List</caption>
				<tr>
					<th>S/N</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Category</th>
                    <th>Price</th>
                    <th>Status</th>
					<th>Remark</th>
                    <th>full details</th>
				</tr>
				<tr ng-repeat="x in itemsList">
					<td>{{$index+1}}</td>
					<td>{{x.name}}</td>
					<td>{{x.brand}}</td>
					<td>{{x.category}}</td>
                    <td>{{x.expectedSellingPrice}}</td>
					<td>{{x.status}}</td>
                    <td>{{x.remark}}</td>
                    <td><button type="button" ng-click="selectedItem(x)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Get Details</button></td>
				</tr> 
			</table>
		</div>
        
        <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content" style="overflow:auto;height:500px;">
                
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">!! Item Details !!</h4>
                </div>
                  
                <div class="modal-body">
                    <div style="overflow:auto;"><br>
                        <table class="table" style="width:100%;">
                            <tr>
                                <td>Item Name</td>
                                <td>{{item.name}}</td>
                            </tr>
                            <tr>
                                <td>Item Brand</td>
                                <td>{{item.brand}}</td>
                            </tr>
                            <tr>
                                <td>Item Category</td>
                                <td>{{item.category}}</td>
                            </tr>
                            <tr>
                                <td>Item Expected Selling Price</td>
                                <td>{{item.expectedSellingPrice}}</td>
                            </tr>
                            <tr>
                                <td>Item Expected Selling Date</td>
                                <td>{{item.expectedSellingDate}}</td>
                            </tr>
                            <tr>
                                <td>Item Status</td>
                                <td>{{item.status}}</td>
                            </tr>
                            <tr>
                                <td>Item Remark</td>
                                <td>{{item.remark}}</td>
                            </tr>
                            <tr>
                                <td>Item Serail No.</td>
                                <td>{{item.productSN}}</td>
                            </tr>
                            <tr>
                                <td>Item Cost </td>
                                <td>{{item.cost}}</td>
                            </tr>
                            <tr>
                                <td>Item Cost Daily</td>
                                <td>{{item.costDaily}}</td>
                            </tr>
                            <tr>
                                <td>Item Cost Monthly</td>
                                <td>{{item.costMonthly}}</td>
                            </tr>
                            <tr>
                                <td>Item Cost Till Date</td>
                                <td>{{item.costTillDate}}</td>
                            </tr>
                            <tr>
                                <td>Item Cost Additional</td>
                                <td>{{item.costAdditionalcost}}</td>
                            </tr>
                            <tr>
                                <td>Item Start Billing</td>
                                <td>{{item.startBilling}}</td>
                            </tr>
                            <tr>
                                <td>Item End Billing</td>
                                <td>{{item.endBilling}}</td>
                            </tr>
                            <tr>
                                <td>Time In Stock</td>
                                <td>{{item.timeInStock}}</td>
                            </tr>
                            <tr>
                                <td>Number Of Days In Stock</td>
                                <td>{{item.nOfDaysInStock}}</td>
                            </tr>
                            <tr>
                                <td>Number Of Days In Desk</td>
                                <td>{{item.nOfDaysInDesk}}</td>
                            </tr>
                            <tr>
                                <td>Item Description File</td>
                                <td>
                                    <input type="button" Value="Read Now" class="btn btn-info btn-xs"/>
                                    <input type="button" Value="Download" class="btn btn-info btn-xs"/>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                  
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                  
              </div>
            </div>
          </div>

	<center>
</div>